<div class="chart-container">

    <div class="container1">
        <h1>Vendas</h1>
        <div class="vendas">
            <canvas id="ReceitaTotal">{{ chart }}</canvas>
            <canvas id="VendasPorDiaDaSemana">{{ chart }}</canvas>
            <canvas id="MelhoresClientes">{{ chart }}</canvas>
            <canvas id="VendasporLinhaDeReceita">{{ chart }}</canvas>
            <canvas id="EvolucaoDasVendas">{{ chart }}</canvas>
            <canvas id="EvolucaoMensalDasVendas">{{ chart }}</canvas>
        </div>
    </div>

    <div class="container2">
        <h1>Gastos</h1>
        <div class="gastos">
            <canvas id="GastosTotais">{{ chart }}</canvas>
            <canvas id="GastosPorDiaDaSemana">{{ chart }}</canvas>
            <canvas id="MaioresFornecedores">{{ chart }}</canvas>
            <canvas id="MaioresGastos">{{ chart }}</canvas>
            <canvas id="EvolucaoDosGastos">{{ chart }}</canvas>
            <canvas id="EvolucaoMensalDosGastos">{{ chart }}</canvas>
        </div>
    </div>

    <div class="container3">
        <h1>Consolidado</h1>
        <div class="consolidado">
            <canvas id="ReceitaTotal(A)">{{ chart }}</canvas>
            <canvas id="ReceitaTotal(B)">{{ chart }}</canvas>
            <canvas id="Saldo(A-B)">{{ chart }}</canvas>
            <canvas id="ReceitaxVariavel">{{ chart }}</canvas>
            <canvas id="CascataDeFiltragemDeLancamento">{{ chart }}</canvas>
        </div>
    </div>




</div>