.chart-container {

    width: 550px;
    //height: 250px; //Ajustar no aspectRatio: do options
    display: flex;
    flex-direction: column;

    .container1,
    .container2,
    .container3 {
        display: flex;
        flex-direction: column;

        .vendas,
        .gastos,
        .consolidado {
            display: flex;
            flex-wrap: wrap;
            gap: 50px;
        }
    }
}